{{ define "main" }}
  <h1 class="mb-8 text-center text-4xl font-extrabold">{{ .Title }}</h1>
  {{ range .Pages.GroupByDate "2006" "desc" }}
    <h2 class="mb-6 mt-12 text-2xl font-bold">{{ .Key }}</h2>
    <ul class="mb-4 space-y-2">
      {{ range .Pages.ByDate.Reverse }}
        <li>
          <a
            href="{{ .RelPermalink }}"
            class="block-inline group flex items-center gap-2 leading-tight"
          >
            <time
              class="linear whitespace-nowrap font-mono text-xs tracking-wide text-neutral-400 transition duration-200 group-hover:text-pink-600"
            >
              {{ .Date | time.Format "01-02" }}
            </time>
            {{ .Title }}
          </a>
        </li>
      {{ end }}
    </ul>
  {{ end }}
{{ end }}
