{{ define "main" }}
<main class="mx-auto p-2 max-w-prose mt-12">
  <h1 class="text-4xl mb-8 font-extrabold text-center">{{ .Title }}</h1>
  {{ range .Pages.GroupByDate "2006" "desc" }}
  <h2 class="text-2xl font-bold mt-12 mb-6">{{ .Key }}</h2>
  <ul class="space-y-2 mb-4">
    {{ range .Pages }}
    <li>
      <a href="{{ .RelPermalink }}" class="block-inline flex items-center gap-2 group leading-tight">
        <time class="whitespace-nowrap text-neutral-400 font-mono tracking-wide text-xs  linear transition duration-200 group-hover:text-neutral-900">
          {{ .Date | time.Format "01-02" }}
        </time>
        {{ .Title }}
      </a>
    </li>
    {{ end }}
  </ul>
  {{ end }}
</main>
{{ end }}
