{{ define "main" }}
  <header class="text-2xl font-extrabold">{{ .Title }}</header>
  <aside class="font-bol mb-1 font-mono text-xs tracking-wide text-neutral-400">
    <time class="uppercase">{{ .Date | time.Format "2006-01-02" }}</time>
    {{ with .Params.Category }}
      · <span class="uppercase">{{ . }}</span>
    {{ end }}
    {{ with .GetTerms "tags" }}
      <ul class="inline space-x-2">
        {{ range . }}
          <li class="inline">
            <a
              class="linear transition duration-200 hover:text-pink-600"
              href="{{ .RelPermalink }}"
            >
              {{ lower .LinkTitle }}
            </a>
          </li>
        {{ end }}
      </ul>
    {{ end }}
  </aside>
  {{ partial "article-content.html" . }}
{{ end }}
