<!doctype html>
<html
  {{- with site.LanguageCode | default site.Language.Lang }}
    lang="{{ . }}"
  {{ end -}}
  {{- if ne .Site.Params.rtl nil }}
    dir="{{ with .Site.Params.rtl }}rtl{{ else }}ltr{{ end }}"
  {{ end }}
>
  {{ partial "head.html" . }}
  <body
    class="min-h-screen bg-gradient-to-b from-orange-50 to-amber-50 font-sans font-light
  text-gray-700 dark:from-gray-800 dark:to-neutral-800 dark:text-gray-300"
  >
    {{ partial "header.html" . }}
    <main class="mx-auto mb-10 mt-12 max-w-prose p-2">
      {{ block "main" . }}{{ .Content | emojify }}{{ end }}
    </main>
    <footer class="mx-auto mb-4 max-w-screen-md space-x-2 px-2 text-center">
      <a
        class="text-neutral-400 transition duration-200 ease-linear
          hover:text-pink-600"
        href="mailto:{{ .Site.Params.Contact.Email }}?subject=monin.vip%20|%20{{ .Title }}&body=Permalink:%20{{ .Permalink }}"
      >
        <i class="fa-solid fa-envelope"></i>
      </a>
      <a
        class="text-neutral-400 transition duration-200 ease-linear
          hover:text-pink-600"
        href="/index.xml"
      >
        <i class="fa-solid fa-square-rss"></i>
      </a>
    </footer>
  </body>
</html>
