<!doctype html>
<html
  {{- with site.LanguageCode | default site.Language.Lang }}
    lang="{{ . }}"
  {{ end -}}
  {{- if ne .Site.Params.rtl nil }}
    dir="{{ with .Site.Params.rtl }}rtl{{ else }}ltr{{ end }}"
  {{ end }}
>
  {{ partial "head.html" . }}
  <body class="bg-amber-50 font-sans font-light text-neutral-900">
    {{ partial "header.html" . }}
    <main class="mx-auto mt-12 max-w-prose p-2">
      {{ block "main" . }}
        {{ partial "article-content.html" . }}
      {{ end }}
    </main>
  </body>
</html>
