<!doctype html>
<html
  {{- with site.LanguageCode | default site.Language.Lang }}
    lang="{{ . }}"
  {{ end -}}
  {{- if ne .Site.Params.rtl nil }}
    dir="{{ with .Site.Params.rtl }}rtl{{ else }}ltr{{ end }}"
  {{ end }}
>
  {{ partial "head.html" . }}
  <body
    class=" bg-amber-50 font-sans font-light
    text-gray-700 dark:bg-neutral-800 dark:text-gray-300"
  >
    {{ partial "header.html" . }}
    <main class="mx-auto mt-12 max-w-prose p-2">
      {{ block "main" . }}{{ .Content | emojify }}{{ end }}
    </main>
  </body>
</html>
