{{ define "main" }}
  <article
    class="prose mb-10
   dark:prose-invert
    prose-h1:text-center
    prose-p:before:content-['']
    prose-a:font-light
    prose-a:decoration-pink-600
    prose-a:underline-offset-4
    prose-a:transition
    prose-a:duration-200
    prose-a:ease-linear
    hover:prose-a:text-pink-600
    prose-blockquote:not-italic
    prose-blockquote:text-neutral-400
    prose-li:*:my-0
    prose-table:font-mono
    prose-img:mx-auto
    prose-img:block"
  >
    <header class="not-prose mb-12 border-b">
      <div class=" text-2xl font-extrabold text-black dark:text-white">
        {{ .Title }}
        {{ if .Params.lang }}
          <span
            class="whitespace-nowrap font-mono text-sm font-thin uppercase tracking-wide text-neutral-400"
          >
            ({{ .Params.lang }})
          </span>
        {{ end }}
      </div>
      <aside class="font-mono text-xs tracking-wide">
        {{ if eq .Section "log" }}
          <time class="whitespace-nowrap"
            >{{ .Date | time.Format "2006-01-02" }}</time
          >
        {{ else if eq .Section "articles" }}
          <time class="whitespace-nowrap"
            >{{ .Date | time.Format ":date_long" }}</time
          ><time class="whitespace-nowrap pl-1 before:pr-1 before:content-['·']"
            >edit {{ .Lastmod | time.Format "2006-01-02" }}</time
          ><time class="pl-1 before:pr-1 before:content-['·']"
            >{{ .ReadingTime }} min</time
          >
        {{ else if eq .Section "codex" }}
          <time class="whitespace-nowrap"
            >edit {{ .Lastmod | time.Format "2006-01-02" }}</time
          >
        {{ else }}
          <time class="whitespace-nowrap"
            >{{ .Date | time.Format ":date_long" }}</time
          ><time class="pl-1 before:pr-1 before:content-['·']"
            >{{ .ReadingTime }} min</time
          >
        {{ end }}

        {{ with .GetTerms "tags" }}
          <ul class="inline space-x-2 pl-1 before:pr-1 before:content-['·']">
            {{ range . }}
              <li class="inline">
                <a
                  class="text-neutral-400 transition duration-200 ease-linear hover:text-pink-600"
                  href="{{ .RelPermalink }}"
                >
                  {{ lower .LinkTitle }}
                </a>
              </li>
            {{ end }}
          </ul>
        {{ end }}
      </aside>
    </header>
    {{ if .Params.toc }}{{ .TableOfContents }}{{ end }}
    {{ .Content | emojify }}
  </article>

  {{ if not (eq .Section "codex") }}
    <nav class="flex items-center justify-between border-t py-4">
      <div class="">
        {{ with .PrevInSection }}
          <a href="{{ .RelPermalink }}" class="group block ">
            <time
              class="before:text-md whitespace-nowrap font-mono text-xs tracking-wide text-neutral-400 transition duration-200 ease-linear
      before:pr-1 before:font-semibold before:content-['‹'] group-hover:text-pink-600"
            >
              {{ if eq .Section "log" }}
                {{ .Date | time.Format "01-02" }}
              {{ else }}
                {{ .Date | time.Format ":date_long" }}
              {{ end }} </time
            ><br />
            <span>
              {{ .Title }}
              {{ if .Params.lang }}
                <span
                  class="whitespace-nowrap font-mono text-xs font-thin uppercase tracking-wide text-neutral-400"
                >
                  ({{ .Params.lang }})
                </span>
              {{ end }}
            </span>
          </a>
        {{ end }}
      </div>
      <div class=" text-right">
        {{ with .NextInSection }}
          <a href="{{ .RelPermalink }}" class="group block">
            <time
              class="after:text-md font-mono text-xs tracking-wide text-neutral-400 transition duration-200 ease-linear
        after:pl-1 after:font-semibold after:content-['›'] group-hover:text-pink-600"
            >
              {{ if eq .Section "log" }}
                {{ .Date | time.Format "01-02" }}
              {{ else }}
                {{ .Date | time.Format ":date_long" }}
              {{ end }} </time
            ><br />
            <span>
              {{ .Title }}
              {{ if .Params.lang }}
                <span
                  class="whitespace-nowrap font-mono text-xs font-thin uppercase tracking-wide text-neutral-400"
                >
                  ({{ .Params.lang }})
                </span>
              {{ end }}

            </span>
          </a>
        {{ end }}
      </div>
    </nav>
  {{ end }}
{{ end }}
