{{ define "main" }}
  {{- $title := printf "%s" ")" | printf "%s%s" .Data.Singular | printf "%s%s" " (" | printf "%s%s" .Data.Term | printf "%s" -}}
  <hgroup class="mb-8 font-mono">
    {{ partial "title.html" $title }}
    <p class="text-thin -mt-6 text-center text-neutral-400">
      <a
        href="{{ .Parent.Permalink }}"
        class="linear transition duration-200 hover:text-pink-600"
      >
        see all
        {{ .Data.Plural }}
      </a>
    </p>
  </hgroup>
  {{ $dataPages := .Data.Pages }}
  {{ range .Site.Sections }}
    <h2 class="mb-6 mt-12 text-2xl font-bold">{{ .Title }}</h2>
    {{ if eq .Section "log" }}
      <ul class="mb-4 space-y-2">
        {{ range where $dataPages "Section" "log" }}
          <li class="">
            <a
              href="{{ .RelPermalink }}"
              class="block-inline group flex items-center gap-2 leading-tight"
            >
              <time
                class="linear group-hover:pink-600 whitespace-nowrap font-mono text-xs tracking-wide text-neutral-400 transition duration-200"
              >
                {{ .Date | time.Format "01-02" }}
              </time>
              {{ .Title }}
            </a>
          </li>
        {{ end }}
      </ul>
    {{ else if eq .Section "articles" }}
      <ul class="mb-4 space-y-4">
        {{ range where $dataPages.ByDate.Reverse "Section" "articles" }}
          <li>
            <aside
              class="font-bol mb-1 font-mono text-xs tracking-wide text-neutral-400"
            >
              <time class="uppercase"
                >{{ .Date | time.Format ":date_long" }}</time
              >
              · <time>{{ .ReadingTime }} min</time>
            </aside>
            <a
              href="{{ .RelPermalink }}"
              class="linear before:linear transition duration-200 before:pr-2 before:text-xl before:font-extrabold before:text-neutral-400 before:transition before:content-['›'] hover:before:text-pink-600"
              >{{ .Title }}</a
            >
          </li>
        {{ end }}
      </ul>
    {{ else }}
      <ul class="mb-4 space-y-2">
        {{ range where $dataPages "Section" .Section }}
          <li>
            <a
              href="{{ .RelPermalink }}"
              class="linear before:linear hover:before:pink-600 transition duration-200 before:pr-2 before:text-xl before:font-extrabold before:text-neutral-400 before:transition before:content-['›']"
              >{{ .Title }}</a
            >
          </li>
        {{ end }}
      </ul>
    {{ end }}
  {{ end }}
{{ end }}
