{{ define "main" }}
  {{- $title := printf "%s" ")" | printf "%s%s" .Data.Singular | printf "%s%s" " (" | printf "%s%s" .Data.Term | printf "%s" -}}
  <hgroup class="mb-8 font-mono">
    {{ partial "title.html" $title }}
    <p class="text-thin -mt-6 text-center text-neutral-400">
      <a
        href="{{ .Parent.Permalink }}"
        class="transition duration-200 ease-linear hover:text-pink-600"
      >
        see all
        {{ .Data.Plural }}
      </a>
    </p>
  </hgroup>

  {{ range .Pages.GroupBy "Section" "desc" }}
    {{ $section_title := title .Key }}
    {{ partial "h2.html" $section_title }}
    <ul>
      {{ range .Pages }}
        {{ if eq .Section "log" }}
          {{ partial "log-list-item.html" . }}
        {{ else if eq .Section "articles" }}
          <li class="my-2 first:mt-0 last:mb-0">
            <a
              href="{{ .RelPermalink }}"
              class="transition duration-200 ease-linear before:pr-2 before:text-xl before:font-extrabold before:text-neutral-400 before:transition before:ease-linear before:content-['›'] hover:before:text-pink-600"
              >{{ .Title }}</a
            >
            <aside class="font-mono text-xs">
              <time class="">{{ .Date | time.Format ":date_long" }}</time
              ><time class="pl-1 before:pr-1 before:content-['·']"
                >{{ .ReadingTime }} min</time
              >
            </aside>
          </li>
        {{ else }}
          {{ partial "page-list-item.html" . }}
        {{ end }}
      {{ end }}
    </ul>
  {{ end }}
{{ end }}
