{{ define "main" }}
  <h1 class="mb-8 text-center font-mono text-4xl font-extrabold">
    {{ lower .Title }}
  </h1>
  <h2 class="mb-6 mt-12 text-2xl font-bold">Alphabetical</h2>
  <ul class="font-sm flex flex-wrap gap-4 font-mono text-neutral-500">
    {{ range .Data.Terms.Alphabetical }}
      <li class="font-light">
        <a
          class="linear transition duration-200 hover:text-neutral-900"
          href="{{ .Page.RelPermalink }}"
        >
          {{ lower .Page.LinkTitle }}<sup>({{ .Count }})</sup>
        </a>
      </li>
    {{ end }}
  </ul>

  <h2 class="mb-6 mt-12 text-2xl font-bold">By Count</h2>
  <ul class="font-sm flex flex-wrap gap-4 font-mono text-neutral-500">
    {{ range .Data.Terms.ByCount }}
      <li>
        <a
          class="linear transition duration-200 hover:text-neutral-900"
          href="{{ .Page.RelPermalink }}"
        >
          {{ lower .Page.LinkTitle }}<sup>({{ .Count }})</sup>
        </a>
      </li>
    {{ end }}
  </ul>
{{ end }}
