<article
  class="prose mb-10
    border-t pt-12 dark:prose-invert
    prose-h1:text-center
    prose-p:before:content-['']
    prose-a:font-light
    prose-a:decoration-pink-600
    prose-a:underline-offset-4
    prose-a:transition
    prose-a:duration-200
    prose-a:ease-linear
    hover:prose-a:text-pink-600
    prose-blockquote:not-italic
    prose-blockquote:text-neutral-400
    prose-li:*:my-0
    prose-table:font-mono
    prose-img:mx-auto
    prose-img:block"
>
  {{ .Content | emojify }}
</article>
