<table>
  <thead>
    <tr>
      <th>1</th>
      <th>2</th>
      <th>3</th>
      <th>4</th>
      <th>5</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>ā</td>
      <td>á</td>
      <td>ǎ</td>
      <td>à</td>
      <td>a</td>
    </tr>
    <tr>
      <td>āi</td>
      <td>ái</td>
      <td>ǎi</td>
      <td>ài</td>
      <td></td>
    </tr>
    <tr>
      <td>ān</td>
      <td>ǎn</td>
      <td>àn</td>
      <td></td>
      <td></td>
    </tr>
    <tr>
      <td>āng</td>
      <td>áng</td>
      <td>àng</td>
      <td></td>
      <td></td>
    </tr>
    <tr>
      <td>āo</td>
      <td>áo</td>
      <td>ǎo</td>
      <td>ào</td>
      <td></td>
    </tr>
  </tbody>
</table>
