<li class="my-2 first:mt-0 last:mb-0">
  <a
    href="{{ .RelPermalink }}"
    class="block-inline group flex items-center gap-2"
  >
    <time
      class="whitespace-nowrap font-mono text-xs tracking-wide text-neutral-400 transition duration-200 ease-linear group-hover:text-pink-600"
    >
      {{ .Date | time.Format "01-02" }}
    </time>
    {{ .Title }}
    {{ if .Params.lang }}
    <span
      class="uppercase whitespace-nowrap font-mono text-xs tracking-wide text-neutral-400 transition duration-200 ease-linear group-hover:text-pink-600"
    >
      ({{ .Params.lang }})
    </span>
  {{ end }}
  </a>
</li>
