<nav class="space-x-4 font-semibold uppercase tracking-widest text-neutral-400">
  {{- $current := . }}
  {{- range .Site.Menus.main }}
    {{- $active := or
      ($current.IsMenuCurrent "nav" .) ($current.HasMenuCurrent "nav" .)
    }}
    {{- $active = or $active ($current.HasMenuCurrent "main" .) }}
    {{- $active = or
      $active ($current.IsMenuCurrent .Menu .)
    }}
    {{- $active = or $active (eq .URL
      $current.RelPermalink)
    }}
    <a
      {{ if .Pre }}aria-label="{{ .Name }}"{{ end }}
      {{ if
        not
        $active
      }}
        class="ease-linear transition duration-200 hover:text-pink-600"
      {{ else }}
        class="text-pink-600"
      {{ end }}
      href="{{ .URL }}"
    >
      {{ with .Pre }}
        {{ . }}
      {{ else }}
        {{ .Name }}
      {{ end }}
    </a>
  {{- end }}
</nav>
