<li>
  <a
    href="{{ .RelPermalink }}"
    class="group transition duration-200 ease-linear before:pr-1 before:text-xl before:font-semibold before:text-neutral-400 before:transition before:ease-linear before:content-['›'] hover:before:text-pink-600"
    >
    {{ .Title }}
    {{ if .Params.lang }}
      <span
        class="uppercase whitespace-nowrap font-mono text-xs tracking-wide text-neutral-400 transition duration-200 ease-linear group-hover:text-pink-600"
      >
        ({{ .Params.lang }})
      </span>
    {{ end }}
  </a>
</li>
