<li class="mx-4 inline first:ml-0 last:mr-0">
  <a
    href="{{ .RelPermalink }}"
    class="befre:content-['›'] group transition duration-200 ease-linear before:pr-1 before:text-xl before:font-semibold before:text-neutral-400 before:transition before:ease-linear hover:before:text-pink-600"
  >
    {{ .Title }}{{- if .Params.lang -}}
      &nbsp;<span
        class="whitespace-nowrap font-mono text-xs uppercase tracking-wide text-neutral-400 transition duration-200 ease-linear group-hover:text-pink-600"
        >({{ .Params.lang }})</span
      >
    {{- end -}}
  </a>
</li>
