{{ define "main" }}
  <h1 class="mb-8 text-center text-4xl font-extrabold">{{ .Title }}</h1>
  {{ range .Pages.GroupByParam "category" }}
    <h2 class="mb-6 mt-12 text-2xl font-bold">{{ .Key }}</h2>
    <ul>
      {{ range .Pages.ByTitle }}
        <li>
          <a
            href="{{ .RelPermalink }}"
            class="linear before:linear transition duration-200 before:pr-2 before:text-xl before:font-semibold before:text-neutral-500 before:transition before:content-['›'] hover:before:text-pink-600"
            >{{ .Title }}
          </a>
        </li>
      {{ end }}
    </ul>
  {{ end }}
{{ end }}
