{{ define "main" }}
  <header class="text-2xl font-extrabold">{{ .Title }}</header>
  <aside class="font-bol mb-1 font-mono text-xs tracking-wide text-neutral-500">
    {{ with .Lastmod }}
      <time class="uppercase">Update {{ . | time.Format "2006-01-02" }}</time>
    {{ end }}
    {{ with .Params.Category }}
      ·
      <span class="uppercase">{{ . }}</span>
    {{ end }}
    {{ with .GetTerms "tags" }}
      ·&nbsp;
      <ul class="inline space-x-1">
        {{ range . }}
          <li class="inline">
            <a
              class="linear transition duration-200 hover:text-pink-600"
              href="{{ .RelPermalink }}"
            >
              {{ lower .LinkTitle }}
            </a>
          </li>
        {{ end }}
      </ul>
    {{ end }}
  </aside>
  {{ if .Params.toc }}{{ .TableOfContents }}{{ end }}
  {{ partial "article-content.html" . }}
{{ end }}
