{{ define "main" }}
  {{ partial "title.html" .Title }}
  {{ range .Pages.ByDate.Reverse }}
    <article class="mb-10 mt-12">
      <aside class="font-bol font-mono text-xs tracking-wide text-neutral-400">
        <time class="uppercase">{{ .Date | time.Format ":date_long" }}</time>
        · <time>{{ .ReadingTime }} min</time>
        {{ with .GetTerms "tags" }}
          ·&nbsp;
          <ul class=" inline space-x-1">
            {{ range . }}
              <li class="inline">
                <a
                  class="transition duration-200 ease-linear hover:text-pink-600"
                  href="{{ .RelPermalink }}"
                >
                  {{ lower .LinkTitle }}
                </a>
              </li>
            {{ end }}
          </ul>
        {{ end }}
      </aside>

      <h2 class="text-lg font-bold">
        <a
          href="{{ .RelPermalink }}"
          class="transition duration-200 ease-linear before:pr-2 before:text-xl before:font-extrabold before:text-neutral-400 before:transition before:ease-linear before:content-['›'] hover:before:text-pink-600"
          >{{ .Title }}</a
        >
      </h2>
      <p class="mb-2">{{ .Summary }}</p>
    </article>
  {{ end }}
{{ end }}
