{{ define "main" }}
  <h1 class="mb-8 text-center text-4xl font-extrabold">{{ .Title }}</h1>
  {{ range .Pages.ByDate.Reverse }}
    <article class="mb-10 mt-12">
      <aside class="font-bol font-mono text-xs tracking-wide text-neutral-500">
        <time class="uppercase">{{ .Date | time.Format ":date_long" }}</time>
        · <time>{{ .ReadingTime }} min</time>
        {{ with .GetTerms "tags" }}
          ·&nbsp;
          <ul class=" inline space-x-1">
            {{ range . }}
              <li class="inline">
                <a
                  class="linear transition duration-200 hover:text-pink-600"
                  href="{{ .RelPermalink }}"
                >
                  {{ lower .LinkTitle }}
                </a>
              </li>
            {{ end }}
          </ul>
        {{ end }}
      </aside>

      <h2 class="text-lg font-bold">
        <a
          href="{{ .RelPermalink }}"
          class="linear before:linear transition duration-200 before:pr-2 before:text-xl before:font-extrabold before:text-neutral-500 before:transition before:content-['›'] hover:before:text-pink-600"
          >{{ .Title }}</a
        >
      </h2>
      <p class="mb-2">{{ .Summary }}</p>
    </article>
  {{ end }}
{{ end }}
